
.cart-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  gap: 1.5rem;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #4c7182, #5a757f, #8cb2c3);
}

.cart-back-btn {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.35);
  padding: 8px 12px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  backdrop-filter: blur(10px);
  transition: 0.3s ease;
  margin-bottom: 20px;
  font-size: 16px;
  position: relative;
  top: 10px;
  width: 100px;
  left: 12px;
}

.cart-back-btn:hover {
  background: rgba(255, 255, 255, 0.25);
  transform: translateX(-4px);
}

.cart-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  position: relative;
  left: 970px;
  font-family:cursive;
  color: white;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 1200px;
  position: relative;
  left: 450px;
}

.cart-item-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 20px;
  background-color: #e5feff71;
  box-shadow: 0px 1px 4px rgba(29, 25, 25, 0.89);
  gap: 1rem;
  transition: 0.25s ease;
}

.cart-item-card:hover{
  transform: translateY(-4px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.4), 0 0 25px rgba(0,255,234,0.4);
}

.cart-item-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-item-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cart-item-name {
  font-weight: 500;
}

.cart-item-qty-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.qty-btn {
  width: 30px;
  height: 30px;
  background: rgba(0, 255, 245, 0.1);
  color: #00f5ff;
  border: 1px solid rgba(0, 255, 245, 0.4);
  cursor: pointer;
  border-radius: 10px;
  backdrop-filter: blur(6px);
  font-size: 1rem;
}

.qty-number {
  min-width: 24px;
  text-align: center;
}

.cart-item-right {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.cart-item-price {
  font-weight: 600;
  font-size: 17px;
}

.cart-item-remove-btn {
  padding: 0.25rem 0.5rem;
  border: none;
  background-color: #ff4d4f;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.85rem;
}

.cart-item-remove-btn:hover {
  background-color: #e43d3f;
}

.cart-summary {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
  padding-top: 0.5rem;
  border-top: 1px solid #f0f0f0;
  width: 1600px;
  position: relative;
  left: 190px;
}

.cart-checkout-btn {
  margin-top: 1rem;
  padding: 0.75rem;
  border: none;
  border-radius: 15px;
  background-color: #77f1dd7e;
  color: white;
  font-size: 20px;
  cursor: pointer;
  width: 200px;
  position: relative;
  left: 900px;
  bottom: 50px;
  transition: background-color 0.2s;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.cart-checkout-btn:hover {
  background-color: #006ae6;
}

