.btn {
  padding: 14px 20px;
  border-radius: 10px;
  font-size: 16px;
  border: none;
  width: 100%;
  cursor: pointer;
  font-weight: 600;
}

.btn.primary {
  background: #222;
  color: white;
}

.btn.secondary {
  background: #f4f4f4;
  color: #222;
  border: 1px solid #ddd;
}
