.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-box {
  width: 350px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  text-align: center;
  font-family: Arial;
}

.input {
  width: 90%;
  padding: 10px;
  margin-top: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-btn {
  width: 95%;
  margin-top: 15px;
  padding: 10px;
  background: #005141;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-text {
  margin-top: 10px;
  text-decoration: underline;
  cursor: pointer;
}
