.history-page {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  font-family: "Poppins", sans-serif;
}

.history-page h2 {
  margin-bottom: 20px;
  color: #082b17;
  font-size: 28px;
}

.order-card {
  background: rgba(255, 255, 255, 0.75);
  padding: 22px;
  border-radius: 18px;
  margin-bottom: 20px;
  box-shadow: 0 8px 20px rgba(10, 20, 10, 0.07);
  backdrop-filter: blur(6px);
}

.order-card p {
  margin: 6px 0;
  color: #263b31;
}

.order-items {
  margin-top: 10px;
  padding-left: 15px;
  border-left: 3px solid rgba(20, 80, 50, 0.2);
}

.order-items p {
  font-size: 15px;
  color: #374b43;
}

.back-btn {
  background: transparent;
  color: #444649;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.3s ease;
  position: relative;
  top: 25px;
}

.back-btn:hover {
  box-shadow: 0 0 12px #00d0ff;
  transform: scale(1.05);
}
